<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Wu Tang Name Generator</title>
</head>
<body>
    <h1>Wu Tang Name Generator</h1>
    <!-- <p><button type="button" id="button">WUTANG ME</button></p> -->
<section class="wutanger">
    <section>
        <section class="q1">
    <ul class="options1">
        <p class="paratitle">Favorite Album</p>
        <li>"Wu-Tang Forever"</li>
        <li>"Enter the Wu-Tang: 36 Chambers"</li>
        <li>"The W"</li>
        <li>"Iron Flag"</li>
    </ul>
    </section>
    </section>
    <section>
        <section class="q2">
        <ul class="options2">
        <p class="paratitle">Favorite Member</p>
        <li>"RZA"</li>
        <li>"GZA"</li>
        <li>"Ol' Dirty Bastard"</li>
        <li>"Method Man"</li>
    </ul>
    </section>
    </section>
    <section>
    <section class="q3">
        <ul class="options3">
        <p class="paratitle">Favorite track</p>
        <li>"C.R.E.A.M"</li>
        <li>"Protect Ya Neck"</li>
        <li>"Wu-Tang Clan Ain't Nuthing ta F' Wit"</li>
        <li>"Triumph"</li>
    </ul>
    </section>
    </section>
    <section>
        <section class="q4">
        <ul class="options4">
        <p class="paratitle">Favorite Quotes</p>
        <li>"“Peace is the absence of confusion.”"</li>
        <li>"“Don’t talk the talk if you can’t walk the walk.”"</li>
        <li>"“Envy, greed, lust, and hate, separate.”"</li>
        <li>"“You’re out of luck like two dogs stuck.”"</li>
    </ul>
    </section>
    </section>
    <section class="q5">
        <section>
    <ul class="options5">
        <p class="paratitle">Favorite Merch</p>
        <li>"Hoodie"</li>
        <li>"Hat"</li>
        <li>"T-Shirt"</li>
        <li>"Beanie"</li>
    </ul>
    </section>
    </section>

    <section class="resultscreen">
        <p>Your Wu-Tang Clan Name is: <span class="result">Blank</span></p>
    </section>
    <script src="main.js"></script>
</section>
</body>
</html>

